---
---

// IMPORT MIXINS
@import "css/mixins.scss";

// CYCLE MIXINS
@mixin cycle-keyframes($a, $t: (color, background-color, border-color)) {
    @each $k in map-keys($a) {
        $l: map-get($a, $k);
        @each $c in $t {
                @include keyframes(cycle-#{$k}-#{$c}) {
                    @for $n from 0 to length($l) {
                        #{$n * 100 / length($l)}% {
                            #{$c}: #{nth($l, $n + 1)};
                        }
                    }
                    100% {
                        #{$c}: #{nth($l, 1)};
                    }
                }
        }
    }
}
@mixin cycle-animate($n, $d: $animation-duration, $t: ease-in-out) {
    @include prefix(animation, cycle-#{$n} $d $t infinite);
}

// VARIABLES
$main-colors: #e62727, #e67a27, #33e627, #2780e6, #da27e6;
$hover-colors: #b31e1e, #b35d1e, #2ab31e, #1e63b3, #a71eb3;
$images: "/images/ruby.jpg", "/images/amber.jpg", "/images/emerald.jpg", "/images/sapphire.jpg", "/images/amethyst.jpg";
$animation-duration: 30s;

// GENERAL
html {
    width: 100vw;
    height: 100vh;
}
body {
    min-height: 100vh;
    max-height: 100vh;
    @include display-flex;
    @include flex-direction(column);
    background: #000;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    color: hsla(0, 0%, 100%, .6);
    overflow: hidden;
    @include prefix(animation, fade-in 1s ease-in-out);
    @include pseudo(after, before) {
        content: "";
        position: fixed;
        @include pos(0, 0, 0, 0);
        @include bg($size: cover, $pos: center);
    }
    @include pseudo(after) {
        @include prefix(animation, images1 2 * $animation-duration infinite);
        background-image: url({{site.baseurl}}/images/ruby.jpg);
        z-index: -9999;
    }
    @include pseudo(before) {
        @include prefix(animation, images2 2 * $animation-duration infinite);
        background-image: url({{site.baseurl}}/images/ruby.jpg);
        z-index: -9998;
    }
}
@each $selector in  selection, -moz-selection {
    ::#{$selector} {
        background: #fff;
        color: #000;
    }
}

//  SCROLLBARS
// SCROLLBAR
::-webkit-scrollbar {
    width: 14px;
}
:not(:hover) {
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
        visibility: hidden;
    }
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track-piece {
    border: 4px solid transparent;
    background-clip: padding-box !important;
}
::-webkit-scrollbar-thumb {
    background: rgba(170, 170, 170, .3);
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
    background: transparent;
}

// BODY
.site-body {
    width: 100%;
    @include display-flex;
    @include flex-grow(1);
    background-color: rgba(0, 0, 0, .7);
    .container {
        width: 1000px;
        @include display-flex;
        @include flex-direction(row);
        margin: 0 auto;
        overflow-x: auto;
    }
    .warning {
        margin: auto;
        text-align: center;
        .title {
            font-size: 30px;
            font-weight: 700;
            @include cycle-animate(main-color);
        }
        .text {
            font-size: 16px;
            color: hsla(0, 0%, 100%, .7);
            a {
                @include cycle-animate(main-color);
                @include prefix(transition, text-shadow .1s ease-in-out);
                &:hover {
                    text-decoration: none;
                    text-shadow: 0 0 1px;
                }
            }
        }
    }
    // SIDEBAR
    .side-bar {
        width: 218px;
        @include display-flex;
        @include flex-direction(column);
        @include flex-shrink(0);
        margin: 10vh 10px;
        overflow-y: auto;
        a {
            text-decoration: none !important;
        }
        .header {
            padding: 6px 10px;
            @include cycle-animate(main-color);
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
        }
        .item {
            position: relative;
            padding: 8px 0 8px 20px;
            color: hsla(0, 0%, 100%, .3);
            font-size: 16px;
            font-weight: 500;
            border-radius: 3px;
            @include prefix(transition, all .15s ease-in-out);
            overflow: hidden;
            z-index: 10;
            &:hover {
                background-color: hsla(0, 0%, 100%, .1);
                color: hsla(0, 0%, 100%, .7);
                
            }
            @include pseudo(after) {
                content: "";
                position: absolute;
                @include pos(0, 0, 0, 0);
                opacity: 0;
                z-index: -1;
                @include prefix(transition, inherit);
                @include cycle-animate(main-background-color);
            }
            &[switch-selected] {
                color: #fff;
                @include pseudo(after) {
                    opacity: 1;
                }
            }
        }
    }
    // CONTENT
    .content {
        min-width: 300px;
        @include display-flex;
        @include flex-direction(column);
        @include flex-grow(1);
        margin: 10vh 40px;
        padding: 20px;
        border-radius: 5px;
        .title {
            @include cycle-animate(main-color);
            font-size: 32px;
            font-weight: 600;
        }
        .header {
            margin-top: 20px;
            font-size: 20px;
            font-weight: 600;
        }
        .header,
        p {
            margin-bottom: 12px;
        }
        a {
            @include cycle-animate(main-color);
            @include prefix(transition, text-shadow .1s ease-in-out);
            &:hover {
                text-decoration: none;
                text-shadow: 0 0 1px;
            }
        }
        .list {
            & > * {
                margin-bottom: 6px;
            }
            &.ordered {
                counter-reset: items;
                & > * {
                    @include pseudo(before) {
                        content: counter(items) ". ";
                        counter-increment: items;
                        font-weight: 600;
                    }
                }
            }
        }
        .inline {
            padding: 3.5px 7.5px;
            background-color: hsla(0, 0%, 100%, .1);
            border-radius: 3px;
            font-family: Consolas, Liberation Mono, Menlo, Courier, monospace;
        }
        .codeblock {
            margin: 10px 0;
            padding: 6px;
            background-color: rgba(0, 0, 0, .5);
            border: 3px solid transparent;
            border-radius: 5px;
            white-space: pre-line;
            font-family: Consolas, Liberation Mono, Menlo, Courier, monospace;
            &[lang=cvp] {
                .property {
                    color: #e7e4e4;
                }
                .value {
                    color: #adff32;
                }
                .variable {
                    color: #ffb732;
                }
            }
        }
    }
    // GENERATOR
    .generator {
        @include display-flex;
        @include flex-direction(column);
        @include flex-grow(1);
        @include justify-content(flex-start);
        .input {
            display: table;
            .input-item {
                display: table-row;
                & > * {
                    display: table-cell;
                    margin: 10px;
                }

            }
        }
        button {
            margin-top: 5px;
            min-height: 25px;
            height: 25px;
            padding: 2px 3px;
            @include align-self(start);
            color: hsla(0, 0%, 100%, .3);
            background: transparent;
            outline: none !important;
            border: none;
            @include prefix(transition, all .3s ease-in-out);
            cursor: pointer;
            &:hover {
                color: hsla(0, 0%, 100%, .7);
            }
        }
        input {
            padding: 6px;
            background-color: rgba(0, 0, 0, .5);
            color: #fff;
            border: 0px solid;
            outline: none !important;
            border-radius: 3px;
            @include cycle-animate(main-border-color);
            &:focus {
                padding: 5px;
                border-width: 1px;
            }
        }
        .output {
            @include display-flex;
            @include flex-direction(column);
            @include flex-grow(1);
            @include flex-basis(0);
            margin: 20px 0;
        }
        .success {
            margin-top: 5px;
            min-height: 25px;
            height: 25px;
            padding: 2px 3px;
            @include align-self(start);
            background: transparent;
            color: hsla(0, 0%, 100%, .7);
            font-style: italic;
            cursor: default;
        }
        .codeblock {
            width: 100%;
            height: 200px;
            min-height: 100px;
            resize: vertical;
            overflow: hidden;
        }
    }
}


// FOOTER
.site-footer {
    @include display-flex;
    padding: 5px 20px;
    background-color: rgba(0, 0, 0, .9);
    color: hsla(0, 0%, 100%, .7);
    font-size: 13px;
    @include prefix(user-select, none);
    & > .left {
        margin-right: auto;
    }
    & > .right {
        margin-left: auto;
    }
    & > * > * {
        margin: 0 5px;
    }
    a {
        color: hsla(0, 0%, 100%, .7);
        @include prefix(transition, all .15s ease-in-out);
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
}

// KEYFRAMES
@include keyframes(fade-in) {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@include cycle-keyframes((main: $main-colors, hover: $hover-colors));
@include keyframes(images1) {
    0% {
        background-image: url({{site.baseurl}}/images/amber.jpg);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    19% {
        background-image: url({{site.baseurl}}/images/amber.jpg);
        opacity: 0;
    }
    20% {
        background-image: url({{site.baseurl}}/images/sapphire.jpg);
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    39% {
        background-image: url({{site.baseurl}}/images/sapphire.jpg);
        opacity: 0;
    }
    40% {
        background-image: url({{site.baseurl}}/images/ruby.jpg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    59% {
        background-image: url({{site.baseurl}}/images/ruby.jpg);
        opacity: 0;
    }
    60% {
        background-image: url({{site.baseurl}}/images/emerald.jpg);
        opacity: 0;
    }   
    70% {
        opacity: 1;
    }   
    79% {
        background-image: url({{site.baseurl}}/images/emerald.jpg);
        opacity: 0;
    }   
    80% {
        background-image: url({{site.baseurl}}/images/amethyst.jpg);
        opacity: 0;
    }   
    90% {
        opacity: 1;
    }   
    99% {
        background-image: url({{site.baseurl}}/images/amethyst.jpg);
        opacity: 0;
    }
    100% {
        background-image: url({{site.baseurl}}/images/amber.jpg);
        opacity: 0;
    }
}
@include keyframes(images2) {
    0% {
        background-image: url({{site.baseurl}}/images/ruby.jpg);
        opacity: 1;
    }
    9% {
        background-image: url({{site.baseurl}}/images/ruby.jpg);
        opacity: 0;
    }
    10% {
        background-image: url({{site.baseurl}}/images/emerald.jpg);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    29% {
        background-image: url({{site.baseurl}}/images/emerald.jpg);
        opacity: 0;
    }
    30% {
        background-image: url({{site.baseurl}}/images/amethyst.jpg);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    49% {
        background-image: url({{site.baseurl}}/images/amethyst.jpg);
        opacity: 0;
    }
    50% {
        background-image: url({{site.baseurl}}/images/amber.jpg);
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    69% {
        background-image: url({{site.baseurl}}/images/amber.jpg);
        opacity: 0;
    }   
    70% {
        background-image: url({{site.baseurl}}/images/sapphire.jpg);
        opacity: 0;
    }   
    80% {
        opacity: 1;
    }   
    89% {
        background-image: url({{site.baseurl}}/images/sapphire.jpg);
        opacity: 0;
    }   
    90% {
        background-image: url({{site.baseurl}}/images/ruby.jpg);
        opacity: 0;
    }   
    100% {
        background-image: url({{site.baseurl}}/images/ruby.jpg);
        opacity: 1;
    }
}