<div class="site-header">
	<div class="nav-bar">
		<div class="left">
			<a href="/">
				<div class="nav-bar-item">Home</div>
			</a>
			<a href="/games">
				<div class="nav-bar-item">Games</div>
			</a>
		</div>
		<div class="title-container">
			<div class="title">
				<a href="/">ClearVision</a>
			</div>
		</div>
		<div class="right">
			<a href="/projects">
				<div class="nav-bar-item">Projects</div>
			</a>
			<a href="/blog">
				<div class="nav-bar-item">Blog</div>
			</a>
			<a href="/links">
				<div class="nav-bar-item">Links</div>
			</a>
		</div>
	</div>
</div>