/* //META {"name": "ClearVision_Amethyst", "description":"A mystical, purple theme with customizable colors & background! Based on Discord Reborn by @Omniscient & DarkMatter by @Hammock. Server: https://clearvision.gitlab.io/join", "author": "Zerthox", "version": "5"} *//**/
/* "ClearVision - Amethyst v5" by @Zerthox */
/* Based on "Discord Reborn v4.30" by @Omniscient & "DarkMatter" by @Hammock */

/* IMPORT CSS FROM GITHUB */
@import url(https://zerthox.github.io/ClearVision/css/ClearVision_v5.min.css);
/*
---------------------------------------------------------------------------------------------------------------------------------------------
IMPORTANT: CHANGE BETWEEN DARK AND LIGHT VERSION IN APPEARANCE SETTINGS!
---------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
================ IMPORTANT LINKS =================
Github: https://git.io/v6BHO
Discord: https://git.io/vMnlu
Wiki: https://git.io/vXTqM
Latest version: https://git.io/v6Muk
Changelog: https://git.io/v6r5N
---------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
============== CUSTOMIZABLE COLORS ===============
*/
:root {
	--main-color: #da27e6;
	--hover-color: #a71eb3;
    --background-blur: 0px;
    --background-brightness: 100%;
}
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
========= CUSTOMIZABLE BACKGROUND IMAGE ==========
*/
body::after,
.callout-backdrop,
.userPopout-11hFKo::before,
.userPopout-3XzG_A::before,
.root-SR8cQa::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.light label,
.radio-theme.dark label {
    background-image: url(https://zerthox.github.io/ClearVision/images/amethyst.jpg) !important; /* IMPORTANT: Link must be HTTPS! */
}
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
