//META{"name":"ClearVision_Remove_Shadows","description":"Removes shadows behind avatars in ClearVision themes, by @Zerthox","author":"Zerthox","version":"2"}*//
/* "ClearVision Remove Shadows v2" by @Zerthox */
/* Removes Shadows behind avatars & guilds */

/* IMPORTANT: Enable after having your ClearVision theme active! */

@import url("https://rawgit.com/Zerthox/ClearVision/master/css/RemoveShadows.css");
