/* Contrast Improvements v1.6 by Hebgbs (@w/ :heart:)
   Black text and objects where it is otherwise difficult to see with brighter colours.
   
   This code must be the first import to be fully effective. */

/* Text colour */
    /* Black */
.tooltip, BUTTON:not(.outlined), .badge, .alert-actions .btn, .settings-panel .control-group:nth-child(2) .region-select:hover BUTTON
.theme-light .is-local-bot-message *:not(A):not(.bot-tag), ::selection, .note textarea::selection, .clipboard-input-inner input::selection,
.change-log .changelog-added, .change-log .changelog-added-secondary, .change-log .changelog-improved,
.guilds-wrapper .guilds .friends-online:hover, .channel-textarea-autocomplete-inner LI.active *,
.search-popout .search-option:hover .answer, .search-popout .search-option.selected .answer,
.search-popout .user:hover .display-username, .search-popout .user.selected .display-username,
.react-datepicker__day:hover, .date-picker-hint .hint-value, .need-help-modal H1, .guilds-wrapper .guilds-error:hover,
.user-settings-modal .now-playing *, .user-settings-modal-keybinds-header *, DIV#rtc-connection-popout HEADER,
.user-settings-modal-connections-list .btn-delete:hover, #overlay-explanation, #overlay-explanation A, .change-nickname-warning,
.Select-option.is-selected, .Select-menu .is-selected DIV .primary, .Select-menu .is-selected DIV .localized,
.upload-drop-modal *, .new-messages-indicator, .popout-menu-item.invite *,
DIV.messages-popout-wrap .messages-popout .message-group .action-buttons .jump-button:hover .text,
.flex-spacer.flex-vertical .comment .message:not(.mentioned) .body DIV.markup .mention:hover, .recent-mentions-popout .mention:hover,
.quickswitcher .result.selected, DIV.search-results-wrap .action-buttons .jump-button:hover,
DIV.chat .divider.divider-red SPAN, DIV.chat .jump-to-present-bar:hover BUTTON, .guild-settings-modal-emoji-header .btn-primary,
#friends DIV.friends-header .tab-bar .tab-bar-item .badge, #friends DIV.friends-header .tab-bar .tab-bar-item.selected,
.ui-button.brand.filled, .ui-button:not(.link):not(.outlined), .user-settings-games .now-playing .game-name,
.ui-standard-sidebar-view .sidebar-region .sidebar-region-scroller .sidebar [class*="item"][class*="selected-"],
.private-channels .channel.selected *, #friends .friends-header .tab-bar.UNIQUE DIV[class*="tab-bar-item"] DIV.badge,
DIV[class|="contentSelectedText"] DIV, DIV[class|="contentHoveredText"] DIV[class|="wrapper"], DIV[class|="contentUnreadText"] DIV[class|="wrapper"],
.sidebar #bd-settings-sidebar .ui-tab-bar-item.selected, #bd-pub-button:hover{
    color: #000 !important;}

    /* White */
.btn-confirm BUTTON, .btn.btn-default, .user-settings-modal-connections-list .btn-delete, .guilds-wrapper .guilds-error:hover,
.form-actions .btn:not(.btn-primary), .webhook-actions .btn:not(.btn-primary):not(.btn-clear), .notice .btn,
.alert-actions .btn:not(.btn-primary), .modal-inner .button:not(.button-primary), .ui-guild-nsfw .ui-button-contents,
DIV.messages-wrapper DIV.has-more BUTTON, .settings-panel .control-group:nth-child(2) .region-select:not(:hover) BUTTON,
.ui-settings-notice-message, .settings-notice-reset-button SPAN{
    color: #fff !important;}

    /* ClearVision defaults */
.guilds-wrapper .guilds-add:hover{
    color: var(--main-color) !Important;}

.notice.notice-info .btn:hover{
    color: #2883eb !Important;}
.notice.notice-streamer-mode .btn:hover{
    color: #643da7 !Important;}
.notice .btn:hover{
    color: #fb5100 !Important;}

    /* Discord defaults */
.is-local-bot-message A{
    color: #00b0f4 !important;}

/* Text shadow for highlight */
.ui-guild-nsfw DIV:not(.ui-button-contents){
    text-shadow: 0px 0px 6px #932b2b,
                 0px 0px 6px #932b2b,
                 0px 0px 6px #932b2b;}

.channel-textarea-autocomplete-inner .active *,
.guild:first-child:hover .friends-icon:after{
    transition: .3s ease-in-out !important;}

/* background colour */
/* #friends .friends-header .tab-bar.UNIQUE DIV[class*="tab-bar-item"] DIV.badge, (Keeping this in case I need it later.) */
.private-channels .channel.selected .avatar-small[style='background-image: url("/assets/6cd008c0ba16db365710e0d9c95dbeed.svg");'],
.private-channels .channel.selected DIV.icon-friends,
DIV[class|="contentSelectedText"] DIV[class|="wrapper"]{
    background-color: #fff !important;}

/* FIXME: Make this work. Intent; Make unread badge in guilds completely opaque at all times. */
.channels-wrap .scroller [class*="Text"][class*="content"] DIV[class|="iconSpacing"] DIV[class|="wrapper"]{
    opacity: 1 !Important;}

/* Icon replacement and object brightness */
    /* Disappear */
.titlebar .win-buttons BUTTON:hover,
.channel DIV.icon-friends, .friends-column-actions .friends-action,
.private-channels .channel .avatar-small[style='background-image: url("/assets/6cd008c0ba16db365710e0d9c95dbeed.svg");'],
#friends .friends-column.friends-column-actions.friends-column-actions-visible .friends-action.friends-action-add,
#friends .friends-column.friends-column-actions.friends-column-actions-visible .friends-action.friends-action-ignore,
#friends .friends-table .friends-column.friends-column-actions .friends-action.friends-action-remove{
    background-image: none !important;}

    /* Darken */
.icon.icon-unread-arrow, .guild:first-child:hover .friends-icon:after, .guild:first-child.active .friends-icon:after,
.channel DIV.icon-friends:after, .private-channels .channel .avatar-small[style='background-image: url("/assets/6cd008c0ba16db365710e0d9c95dbeed.svg");']:after,
.popout-menu-item.invite .popout-menu-icon, .status-deafened:after, .search-popout DIV:hover:before,
.search-popout .selected:before, .avatar-xxlarge SPAN DIV:after, .ui-radiogroup DIV[class*="card"] .ui-icon-check-mark,
.ui-radio-list-item .ui-icon-check-mark, .ui-popout-list .selected:not(:hover) DIV, DIV[class|="contentSelectedText"] SVG,
.sidebar [class*="item"][class*="selected"]:after{
    filter: brightness(0) !important;}
    
    /* Brighten */
.ui-radiogroup DIV[class*="card"][style*="rgb(67, 181, 129)"] .ui-icon-check-mark,
.ui-radiogroup DIV[class*="card"][style*="rgb(250, 166, 26)"] .ui-icon-check-mark,
.ui-radiogroup DIV[class*="card"][style*="rgb(240, 71, 71)"] .ui-icon-check-mark{
    filter: brightness(1) !Important;}

        /* Titlebar */
.titlebar .win-buttons BUTTON:hover:after{
    content: '';
    display: block;
    width: 26px;
    height: 26px;
    filter: brightness(0) !important;
    transition: .1s ease-in-out !important;}
.titlebar .win-minimize:hover:after{
    background: url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/remove.svg) 50% 7px/24px;}
.titlebar .win-maximize:hover:after{
    background: url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/fullscreen.svg) 50% 50%/24px;}
.titlebar .win-close:hover:after{
    background: url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/close.svg) 50% 50%/24px;}

        /* Friends / Friends icon */
.channel DIV.icon-friends:after, .private-channels .channel .avatar-small[style='background-image: url("/assets/6cd008c0ba16db365710e0d9c95dbeed.svg");']:after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/group.svg) no-repeat center center/75%;}

        /* Friends / Friend actions */
.friends-column-actions DIV:after,
.friends-column-actions-visible DIV:after{
    content: '';
    display: inline-block;
    width: 36px;
    height: 36px;
    filter: brightness(0) !important;}
.friends-column-actions .friends-action-voice-call:after{
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgPHBvbHlnb24gcG9pbnRzPSIwIDAgMjQgMCAyNCAyNCAwIDI0Ii8+CiAgICA8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNNy41LDEwLjUgQzguOTQsMTMuMzMgMTAuNjY5MTI4MSwxNS4wNSAxMy40OTkxMjgxLDE2LjUgTDE1LjQxLDE1LjE4IEMxNS42OCwxNC45MSAxNi4wOCwxNC44MiAxNi40MywxNC45NCBDMTcuNTUsMTUuMzEgMTguNzYsMTUuNTEgMjAsMTUuNTEgQzIwLjU1LDE1LjUxIDIxLDE1Ljk2IDIxLDE2LjUxIEwyMSwyMCBDMjEsMjAuNTUgMjAuNTUsMjEgMjAsMjEgQzEwLjYxLDIxIDIuNzkzOTk5MDcsMTMuNjQwNDQ0OSAzLDQgQzMuMDExNzQ5OTQsMy40NTAxMjU3MyAzLjQ1LDMgNCwzIEw3LjUsMyBDOC4wNSwzIDguNSwzLjQ1IDguNSw0IEM4LjUsNS4yNSA4LjcsNi40NSA5LjA3LDcuNTcgQzkuMTgsNy45MiA5LjEsOC4zMSA4LjgyLDguNTkgTDcuNSwxMC41IFoiLz4KICA8L2c+Cjwvc3ZnPgo=) no-repeat center center/24px;}
.friends-column-actions-visible .friends-action-add:after{
    background: url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/person_add.svg) no-repeat 50% 50%/24px;}
.friends-column-actions .friends-action-accept:after{
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+CiAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiLz4KICAgIDxwYXRoIGZpbGw9IiNGRkYiIGQ9Ik0yMSA3TDkgMTlsLTUuNS01LjUgMS40MS0xLjQxTDkgMTYuMTcgMTkuNTkgNS41OSIvPgogIDwvZz4KPC9zdmc+) no-repeat center center/24px;}
.friends-column-actions .friends-action-remove:after,
.friends-column-actions .friends-action-cancel:after,
.friends-column-actions-visible .friends-action-ignore:after{
    background: url(https://cdn.rawgit.com/Zerthox/ClearVision/master/icons/close.svg) no-repeat 50% 50%/24px;}
