/* Eclipsing Avatars 3.0 (import)
   User status enhancer to make avatars fit in with a lunar-style theme.
   
   Ideally, this should be imported before the ClearVision base theme.
   This is intended only for people who use ClearVision and derivatives of;
   Any other theme may cause minor appearance issues.
   Made by Hebgbs
*/

@import url(https://omgdani.github.io/DiscordStuff/Themes/Eclipsing_Avatars/imports/base.css);
@import url(https://omgdani.github.io/DiscordStuff/Themes/Eclipsing_Avatars/imports/ClearVision.css);

/* Colours; Adjusted for ClearVision */
:root{
    --status-online: #43b581;
    --status-idle: #faa61a;
    --status-dnd: #982929;
    --status-streaming: #593695;}
