/* "RemoveShadows v2" by @Zerthox */
/* Remove Shadows behind avatars & guilds */

.avatar-small    {
    box-shadow: none !important;
}
.avatar-large {
    box-shadow: none !important;
}
.icon-friends {
    box-shadow: none !important;
}
.guilds-wrapper .guilds .guild .guild-inner {
    box-shadow: none !important;
}
