/* "Smooth Backgrounds v2.0" by Zerthox */
/* Make the background really clear & more smooth */

.theme-light .guilds-wrapper,
.theme-dark .guilds-wrapper,
.theme-light .channels-wrap,
.theme-dark .channels-wrap,
.theme-light .content .flex-spacer,
.theme-dark .content .flex-spacer,
.theme-light .title-wrap,
.theme-dark .title-wrap,
.theme-light .channel-members,
.theme-dark .channel-members,
.theme-light .search-results-wrap,
.theme-dark .search-results-wrap,
.theme-light .friends-header,
.theme-dark .friends-header,
.theme-light .friends-table,
.theme-dark .friends-table {
    background-color: transparent !important;
}
