/* "Smooth Backgrounds v2.2" by Zerthox*/
/* Make the background really clear & more smooth */

DIV.theme-light .guilds-wrapper .scroller-wrap,
DIV.theme-dark .guilds-wrapper .scroller-wrap,
DIV.theme-light DIV[class*="channels-"],
DIV.theme-dark DIV[class*="channels-"],
DIV.theme-light DIV.flex-spacer.flex-horizontal,
DIV.theme-dark DIV.flex-spacer.flex-horizontal,
DIV[class*="titleWrapper"].theme-light > DIV,
DIV[class*="titleWrapper"].theme-dark > DIV,
DIV.theme-light .channel-members,
DIV.theme-dark .channel-members,
DIV.theme-light .search-results-wrap,
DIV.theme-dark .search-results-wrap,
DIV.theme-light #friends [class*="headerBar"],
DIV.theme-dark #friends [class*="headerBar"],
DIV.theme-light #rriends DIV.friends-table,
DIV.theme-dark #friends DIV.friends-table {
    background-color: transparent !important;
}
