---
layout: default
---
<!DOCTYPE html>
<html lang="en-us">
	<head>
	    {% include document-head.html %}
	</head>
  	<body>
	    <div class="site-body">
			<div class="container">
				{{content}}
			</div>
			<noscript>
				<div class="warning">
					<div class="title">This page requires JavaScript to work properly</div>
					<div class="text">
						Please enable JavaScript. We won't do anything bad, we promise.<br>
						If you don't trust us, check the <a href="https://github.com/Zerthox/ClearVision">source code</a>.
					</div>
				</div>
				<style>
					.container {
						display: none !important;
					}
				</style>
			</noscript>
		</div>
	    {% include footer.html %}
	</body>
</html>