//META{"name":"ClearVision_Winter","description":"A frosty, grey theme made for christmas!</br> Based on <a href='https://github.com/0mniscient/Discord-Themes/tree/master/Themes' target='_blank'>Discord Reborn</a> by <a href='https://github.com/0mniscient' target='_blank'>@Omniscient</a> & <a href='https://github.com/cosmicsalad/Discord-Themes-and-Plugins/tree/master/themes/DarkMatter' target='_blank'>DarkMatter</a> by <a href='https://github.com/cosmicsalad' target='_blank'>@Hammock</a> <span style='position: absolute; bottom: 0; left: 0;'>Links: <b><a href='https://git.io/v6BHO' target='_blank'>Github</a></b> | <b><a href='https://discord.gg/FtYVPky' target='_blank'>Discord</a></b> | <b><a href='https://git.io/vXTqM' target='_blank'>Wiki</a></b></span> <span style='position: absolute; bottom: 0; right: 14px;'>By <b><a href='https://github.com/Zerthox' target='_blank'>@Zerthox</a></b></span>","author":"<a href='https://github.com/Zerthox' target='_blank'>@Zerthox</a>","version":"4"}*//{}
/* "ClearVision - Winter v4" by @Zerthox */
/* Based on "Discord Reborn v4.30" by @Omniscient & "DarkMatter" by @Hammock */

/* IMPORT CSS FROM GITHUB */
@import url(https://gitcdn.xyz/repo/Zerthox/ClearVision/master/css/ClearVision_v4.min.css);
/*
---------------------------------------------------------------------------------------------------------------------------------------------
IMPORTANT: CHANGE BETWEEN DARK AND LIGHT VERSION IN APPEARANCE SETTINGS!
---------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
================ IMPORTANT LINKS =================
Latest version: https://git.io/v6Muk
Changelog: https://git.io/v6r5N
RemoveShadows theme: https://git.io/v6MuU IMPORTANT: Activate on top of a ClearVision theme!
---------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
============== CUSTOMIZABLE COLORS ===============
*/
:root {
	--main-color: #66aacc;
	--hover-color: #447799;
}
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
========= CUSTOMIZABLE BACKGROUND IMAGE ==========
*/
body::after,
.callout-backdrop,
.user-popout::before,
#user-profile-modal .header::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.light label,
.radio-theme.dark label{
    background-image: url(https://github.com/Zerthox/ClearVision/raw/master/images/winter.jpg) !important; /* IMPORTANT: Link must be HTTPS! */
}
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/

/* HALLOWEEN LOADING ANIMATION */
#app-mount::after {
    -webkit-animation: cv-halloween 3s ease-in-out;
    animation: cv-halloween 3s ease-in-out;
}
@-webkit-keyframes cv-halloween {
    0% {
        content: "Riding sleigh";
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }
    25% {
        opacity: 0;
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }
    30% {
        opacity: .3;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    45% {
        opacity: .3;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    49% {
        content: "Riding sleigh";
        opacity: 0;
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    50% {
        content: "Building snowman";
        opacity: 0;
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }
    55% {
        opacity: .3;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    70% {
        opacity: .3;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    74% {
        content: "Building snowman";
        opacity: 0;
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    75% {
        content: "Snowball fight!";
        opacity: 0;
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }
    80% {
        opacity: .3;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    95% {
        opacity: .3;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    99% {
        content: "Snowball fight!";
        opacity: 0;
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }
    100% {
        content: "";
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}
@keyframes cv-halloween {
    0% {
        content: "Riding sleigh";
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }
    25% {
        opacity: 0;
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }
    30% {
        opacity: .3;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    45% {
        opacity: .3;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    49% {
        content: "Riding sleigh";
        opacity: 0;
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    50% {
        content: "Building snowman";
        opacity: 0;
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }
    55% {
        opacity: .3;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    70% {
        opacity: .3;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    74% {
        content: "Building snowman";
        opacity: 0;
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    75% {
        content: "Snowball fight!";
        opacity: 0;
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }
    80% {
        opacity: .3;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    95% {
        opacity: .3;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    99% {
        content: "Snowball fight!";
        opacity: 0;
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }
    100% {
        content: "";
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}
